@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layer1t {
    background-image: url('../public/assets/images/layered1t.svg')
  }
  .layer1b {
    background-image: url('../public/assets/images/layered1b.svg')
  }
  
  .mask-bg {
    mask: url("#mask");
  }

  .mask-title {
    mask: url("#title");
  }

  .mask-vr {
    mask: url("#vr");
  }

  .mask-ar {
    mask: url("#ar");
  }

  .mask-ai {
    mask: url("#ai");
  }

  .mask-ml {
    mask: url("#ml");
  }
  
  .mask-iot {
    mask: url("#iot");
  }

  .mask-pi {
    mask: url("#pi");
  }

  .mask-security {
    mask: url("#security");
  }

  .mask-secure {
    mask: url("#secure");
  }

  .mask-cg {
    mask: url("#cg");
  }

  .mask-gfx {
    mask: url("#gfx");
  }

  .mask-systemProgramming {
    mask: url('#systemProgramming')
  }

  .mask-programming {
    mask: url('#programming')
  }

  .mask-app {
    mask: url('#app')
  }

  .mask-web {
    mask: url('#web')
  }

  .mask-neoito {
    mask: url("#neoito");
  }

  .top-border {
    content: "";
    top: -18px;
    position: relative;
    display: block;
    border-top: 4px solid transparent;
    transition: border-color 0.2s cubic-bezier(0, 0.42, 0.2, 0.99) 0s;
  }

  .top-border-active {
    content: "";
    top: -8px;
    position: relative;
    display: block;
    border-top: 4px solid rgb(139, 224, 174);
    transition: border-color 0.2s cubic-bezier(0, 0.42, 0.2, 0.99) 0s;
  }

  
}

body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
}
