@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layer1t {
    background-image: url('../public/assets/images/layered1t.svg')
  }
  .layer1b {
    background-image: url('../public/assets/images/layered1b.svg')
  }
  
  .mask-bg {
    mask: url("#mask");
  }

  .mask-vr {
    mask: url("#vr");
  }

  .mask-ai {
    mask: url("#ai");
  }
  
  .mask-iot {
    mask: url("#iot");
  }

  .mask-security {
    mask: url("#security");
  }

  .mask-cg {
    mask: url("#cg");
  }

  .mask-systemProgramming {
    mask: url('#systemProgramming')
  }

  .mask-app {
    mask: url('#app')
  }
  
}

body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
}
